@import './GoogleFont.css';

.card-body__title{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 1rem;
	margin-bottom: 0;
}
.card-body__price{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.8rem;
	align-self: center;
	margin-bottom: 0;
}

.card-body__description{
	font-family: 'Cabin', sans-serif;
	text-align: justify;
}
.card-body__btn{
	border-radius: 0;
	background-color:#8FA253;
	border: 0;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 2rem;
	text-transform: uppercase;
	width: 100%;
}
.card-body__btn:hover{
	background-color:#5F7F39;
}
.card-img{
	max-width: 500px;
	min-width: 200px;
	border-radius: 0;
}
.card{
	margin:1rem 0;
	border-radius: 0;
}
.card-product__header{
	display:flex;
	justify-content: space-between;
}
.card-body__total-rates{
	color:#C4C4C4;
	font-size: 0.7rem;
	margin-left: 0.5rem;
}