.forgotPassword-country{
	font-size: 0.9rem;
}
.forgot-header{
	color: #5F7F39;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0;
	text-align: center;
}
.forgot-subHeader{
	font-size: 0.8rem;
	color: #E5383B;
}
.btn-forgot{
	border-radius: 0;
	display: block;
	margin: 0 auto;
	min-width: 150px;
}