@import './GoogleFont.css';

.manage-pesonal__header{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;		
	font-weight: bold;
	color: #5F7F39;
}
.manage-pesonal__sub-header{
	
}
.manage-account__box{
	border: 1px solid #c4c4c4;
	margin: 0 auto;
	padding: 2rem;
	max-width: 600px;
}
.address-box{
	display: flex;
	gap: 10px;
}
.personal-title{
	min-width: 90px ;
}